.home {
    padding: 3rem;
  }

  .album-heading {
    font-size: 2.2rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  
  
/* ===== Folder Grid Layout ===== */
.folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 16px;
  padding: 16px;
}
@media (min-width: 480px) {
  .folder-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@media (min-width: 640px) {
  .folder-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (min-width: 900px) {
  .folder-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
